.notificationTest {
	background-color: #9CCC7D;
	position: absolute;
	width: 400px;
	left: 50%;
	margin-left: -220px;
	padding: 10px;
}

.notificationTest > div{
	border-top: 1px solid #4E7336;
	margin-top: 10px;
	padding-top: 10px;
}